In [1]:
import pandas as pd 
data1={"Emp Id":["E01","E02","E023","E04","E05","E06"],
       "Names":["Ram","Shyam","Shyaarm","Shyafm","Shsfyam","Shyasm"],
       "Age":[354,45,5,4,66,355]
      }
data2={"Emp Id":["E0s1","E0s2","E0s23","Es04","E0s5","Es06"],
       "Names":["Rasgm","Shygam","Shyaashghgtrm","Shyafm","Shsfvsyam","Sfhyasm"],
       "Age":[33554,4355,55,354,665,3555]
      }
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)

In [2]:
print(df1)

  Emp Id    Names  Age
0    E01      Ram  354
1    E02    Shyam   45
2   E023  Shyaarm    5
3    E04   Shyafm    4
4    E05  Shsfyam   66
5    E06   Shyasm  355

In [4]:
print(pd.merge(df1,df2,on="Emp Id"))

Empty DataFrame
Columns: [Emp Id, Names_x, Age_x, Names_y, Age_y]
Index: []

In [5]:
print(df1)

  Emp Id    Names  Age
0    E01      Ram  354
1    E02    Shyam   45
2   E023  Shyaarm    5
3    E04   Shyafm    4
4    E05  Shsfyam   66
5    E06   Shyasm  355

In [7]:
print(pd.merge(df1,df2,on="Emp Id",how="left"))

  Emp Id  Names_x  Age_x Names_y  Age_y
0    E01      Ram    354     NaN    NaN
1    E02    Shyam     45     NaN    NaN
2   E023  Shyaarm      5     NaN    NaN
3    E04   Shyafm      4     NaN    NaN
4    E05  Shsfyam     66     NaN    NaN
5    E06   Shyasm    355     NaN    NaN

In [8]:
print(pd.merge(df1,df2,on="Emp Id",how="right"))

  Emp Id Names_x  Age_x        Names_y  Age_y
0   E0s1     NaN    NaN          Rasgm  33554
1   E0s2     NaN    NaN         Shygam   4355
2  E0s23     NaN    NaN  Shyaashghgtrm     55
3   Es04     NaN    NaN         Shyafm    354
4   E0s5     NaN    NaN      Shsfvsyam    665
5   Es06     NaN    NaN        Sfhyasm   3555

In [9]:
print(pd.merge(df1,df2,on="Emp Id",how="inner"))

Empty DataFrame
Columns: [Emp Id, Names_x, Age_x, Names_y, Age_y]
Index: []

In [13]:
print(pd.concat([df1,df2]))

  Emp Id          Names    Age
0    E01            Ram    354
1    E02          Shyam     45
2   E023        Shyaarm      5
3    E04         Shyafm      4
4    E05        Shsfyam     66
5    E06         Shyasm    355
0   E0s1          Rasgm  33554
1   E0s2         Shygam   4355
2  E0s23  Shyaashghgtrm     55
3   Es04         Shyafm    354
4   E0s5      Shsfvsyam    665
5   Es06        Sfhyasm   3555